<div class="container"></div>
    <div class="height-form form-start">
      <div style="text-align: center;">
        <h1>Créer un besoin</h1>
        <br>
        <br>
        <br>
        <br>
        <a class="btn btn-primary btn-lg"data-scroll href="#category-title" type="button">C'est parti</a>
      </div>
    </div>
    <br>
    <br>
  <div class="row" id="category-title">
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group height-form-category second">
        <h3>Quelle est la catégorie de ce besoin ? </h3>
        <br>
        <br>
        <br>
          <label class="control-label check_boxes optional"></label>
    <%= simple_form_for [@organization, @mission], url: organizations_missions_path(@mission), method: :post  do |f| %>
          <% Mission.category.values.shuffle.each do |category| %>
              <input type="radio" class="hidden" id="mission_category_<%= category.downcase %>" value="<%= category %>" name="mission[category]">
              <label for="mission_category_<%= category.downcase %>">
                <div class="shadow-missions">
                  <div class="shadow-missions">
                    <div class="js-category-choice form-missions-cards" style="text-align:center;">
                      <%= form_svg_div(category) %>
                      <h2><%= category %></h2>
                      <div class="border-bottom gradient-<%=category.downcase %>"></div>
                      <div class="overlay-2 gradient-<%=category.downcase %>">
                        <%= white_form_svg_div(category) %>
                        <h3><%= category %></h3>
                      </div>
                    </div>
                  </div>
                </div>
              </label>
            <% end %>
            <br><br><br><br>
            <div class="btn-container">
                <a class="btn btn-primary" data-scroll href="#first" type="button">Suivant</a>
            </div>
      </div>
    </div>
  </div>
  <div class="row height-form" id="first">
    <div class="col-md-6">
      <%= f.input :title, label: 'Quel titre souhaitez-vous donner à votre besoin ?' %>
      <label class="control-label check_boxes optional"></label>
      <%= f.input :address, label: 'Où aura lieu ce besoin ? ' %>
      <br>
      <div class="row">
        <div class="col-md-12">
          <%= f.input :starting_at, as: :string, required: false, input_html: {class: "datepicker"}, label: 'A quelle date se déroulera cette mission ? ' %>
        </div>
        <!-- <div class="col-md-6">
          <%= f.input :end_candidature_date, as: :string, required: false, input_html: {class: "datepicker"}, label: "Jusqu'à quand souhaitez-vous recevoir des candidatures ?" %>
        </div> -->
        <div class="col-md-12">
          <%= f.input :duration_in_hours,  label: 'Combien de temps durera cette mission ?'%>
        </div>
        <!-- <div class="col-md-6">
          <%= f.input :recurrent %>
        </div> -->
      </div>
      <br><br><br><br><br>
      <div class="row">
        <div class="col-md-5 col-md-offset-9">
          <a class="btn btn-primary" data-scroll href="#second" type="button">Suivant</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row height-form">
    <div class="col-md-6">
      <div id="second">
        <div class="row">
          <div class="col-md-12">
            <%= f.input :volunteers_needed, label: 'Combien de volontaires recherchez-vous ?' %>
          </div>
        </div>
        <%= f.input :description, label: 'Ajoutez une description pour recevoir plus de candidatures' %>
        <%= f.input :skills_needed, label: 'Quel type de profil recherchez-vous ?' %>
        <%= f.submit "Créer", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
    <% end %>
    </div>
  </div>
</div>


