<h1>Votre profil</h1>


<%= link_to "Editer votre profil", edit_account_profile_path(@profile)%>

<%= "#{@profile.first_name} #{@profile.last_name}" %>
<%= @profile.phone_number %>
<p><%= @profile.description %></p>
<p><%= @profile.skills %></p>
<p><%= @profile.experiences %></p>
<%= cl_image_tag @profile.picture %> -->

<div class="container">
  <div class="row">
    <% @profile.missions.each do |mission| %>
      <%= mission.title %>
    <% end %>
  </div>
</div>
