<div class="banner">
  <div class="banner-show-green-background">
    <h1 class="text-center">Votre profil</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="show-profile-wrap">
      <div>
        <h3><strong><%= "#{@profile.first_name} #{@profile.last_name}" %></strong></h3>
        <%= cl_image_tag @profile.picture, class: "profile-picture" %>
      </div>
      <div>
        <h4><strong>Biographie</strong></h4>
        <p><%= @profile.description %></p>
        <p>Contact: <%= @profile.phone_number %></p>
        <p>Compétences: <%= @profile.skills %></p>
        <p>Expériences: <%= @profile.experiences %></p>
        <%= link_to "Editer votre profil", edit_account_profile_path(@profile), class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>




<div class="container">
  <h4><strong>Mes missions en cours</strong></h4>
  <div class="row">
    <% @profile.missions.each do |mission| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to mission_path(mission) do %>
          <div class="missions-cards">
          <h2><%= mission.title %></h2>
          <%= svg_div(mission.category) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
