<div class="sticky-container">
  <div id="filter-container">
    <div class="filters">
      <div><%= form_tag missions_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "form-control-index", placeholder: "Rentrez votre addresse" %>
      </div>
      <div class="filter-control-index">
        <%= simple_form_for @mission do |f| %>
        <select class="select2" onchange="this.form.submit();" name="recurrency">
          <option value="both">Type</option>
          <option value="urgent" <%= "selected=\"selected\"" if params[:recurrency] == "urgent" %> >Missions urgentes</option>
          <option value="ponctuel" <%= "selected=\"selected\"" if params[:recurrency] == "ponctuel"  %> >Missions ponctuelles</option>
          <option value="recurrent" <%= "selected=\"selected\"" if params[:recurrency] == "recurrent" %> >Missions récurrentes</option>
        </select>
      </div>

      <div class="filter-control-index">
        <select class="select2" onchange="this.form.submit();" name="category">
          <option value="categories"> Catégorie</option>
          <option value="hebergement" <%= "selected=\"selected\"" if params[:category] == "hebergement"  %> >Hébergement</option>
          <option value="activite" <%= "selected=\"selected\"" if params[:category] == "activite" %> >Activité</option>
          <option value="collecte" <%= "selected=\"selected\"" if params[:category] == "collecte" %> >Collecte</option>
          <option value="accompagnement" <%= "selected=\"selected\"" if params[:category] == "accompagnement"  %> >Accompagnement</option>
          <option value="evenement" <%= "selected=\"selected\"" if params[:category] == "evenement" %> >Evènement</option>
          <option value="sante" <%= "selected=\"selected\"" if params[:category] == "sante" %> >Santé</option>
          <option value="enseignement" <%= "selected=\"selected\"" if params[:category] == "enseignement"  %> >Enseignement</option>
          <option value="autre" <%= "selected=\"selected\"" if params[:category] == "autre" %> >Autre</option>
        </select>
    </div>
      <div class="filter-control-index">
          <%#= f.input :starting_at, as: :string, required: false, input_html: {class: "userdatepicker"}, placeholder: 'Quelles sont vos disponibilités ? ' %>
          <input name="starting_at" id="mission_starting_at" value="<%= params[:starting_at] %>" class="userdatepicker form-control filter-control-index" placeholder="Date" autocomplete="off" type="text">
      </div>
      <!-- <div class="filter-control-index">
          <%#= f.input :end_candidature_date, as: :string, required: false, input_html: {class: "datepicker"}, label: "Jusqu'à quand souhaitez-vous recevoir des candidatures ?" %>
      </div> -->
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="main-container">
    <div class="mission-container">
      <div class="row">
        <% @missions.each do |mission| %>
          <div class="col-xs-12 col-sm-4">
            <div class="shadow-missions">
              <div class="missions-cards">
                <%= link_to mission_path(mission) do %>
                  <%= index_svg_div(mission.category) %>
                  <h2><%= mission.title %></h2>
                  <p><%= mission.organization.name%></p>
                  <div class="border-bottom gradient-<%=mission.category.downcase%>"></div>
                  <div class="overlay gradient-<%=mission.category.downcase%>">
                    <%= white_svg_div(mission.category) %>
                    <h3><%= mission.title %></h3>
                    <h4><%= mission.organization.name%></h4>
                    <h5><%= l(mission.starting_at, format: :short) %></h5>
                  </div>
              </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div id="map" data-markers="<%= @markers.present? ? @markers.to_json : [] %>"></div>
  </div>
</div>

<%= javascript_pack_tag 'filters' %>
