<div class="show-container">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-2"> <%= show_svg_div(@mission.category) %></div>
      <div class="col-md-6">
        <div class="banner-mission">
          <div class="banner-mission-content">
            <h1><%= @mission.title %></h1>
          </div>
        </div>
        <div class="page-metas" >
          <div class="meta-item " > <%= @mission.volunteers_needed %> volontaires demandées</div>
        </div>
      </div>
    </div>
  </div>



  <div class="first-background-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="banner-mission-content">
          <h2>Description</h2>
          <p><%= @mission.description %></p>
          <h2>Peine encourue</h2>
          <p> 2 demi-journées par semaine pendant 6 mois </p>
          <h2>Profil recherché <h2>
            <% if @mission.skills_needed.nil? || @mission.skills_needed == "0" %>
              <p> Aucun profil particulier recherché</p>
            <% else %>
              <p><%= @mission.skills_needed %></p>
            <% end %>
          <br><br>
          <div class= "text-center"><%= link_to "Participer", mission_applications_path(@mission), method: :post, class: "btn btn-primary" %>
          </div>
          <button class="button">
            <span class="submit">Participer</span>
            <span class="loading"><i class="fa fa-refresh"></i></span>
            <span class="check"><i class="fa fa-check"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
<br><br>
  <div class="image-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="image-grid">
          <div class="big-image"
          style=" background-image: url('<%= cl_image_path("mpnrcwlglxzxld1eigod.jpg") %>')"></div>

          <div class="top-small-image"
          style=" background-image: url('<%= cl_image_path("dkcrbkcfdynqryf199kj.jpg") %>')></div>

          <div class="bottom-small-image"
          style=" background-image: url('<%= cl_image_path("mpnrcwlglxzxld1eigod.jpg") %>')"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="banner-mission-organization">
          <h3 class= "text-center"><%= @mission.organization.name %></h3
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-3">
                <p><%= cl_image_tag @mission.organization.logo, class: "mission-organization-logo" %></p>
          </div>
        </div>
      </div>
          <h2> Description </h2>
          <p class= "text-center"><%=@mission.organization.description%></p>
          <div class= "text-center"><%= link_to "Participer", mission_applications_path(@mission), method: :post, class: "btn btn-primary" %></p>
          <p class= "text-center"><%= link_to "En savoir plus", associations_path(@mission) %>
        </div>
      </div>
    </div>
  </div>
</div>



