<div class="show-container">
  <div class="container">
    <div class="row">
    <div class="col-md-6">
      <div class="banner-mission">
        <div class="container">
          <%= show_svg_div(@mission.category) %>
          <div class="banner-mission-content">
            <h1 class="text-center"><%= @mission.title %></h1>
            <h3 class="text-center"><%= @mission.category %></h3>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="banner-mission-content">
          <h4 class= "text-center">2 demi-journées par semaine pendant 6 mois</h4>
          <p class= "text-center"><%= link_to "Participer", mission_applications_path(@mission), class: "btn btn-primary" %></p>
          <p>Description de la mission :<%= @mission.description %></p>
          <p>Nb de volontaires demandés :<%= @mission.volunteers_needed %></p>
          <p>Profil recherché :<%= @mission.skills_needed %></p>
          <p class= "text-center"><%= link_to "Participer", mission_applications_path(@mission), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="banner-mission-organization">
          <h3 class= "text-center"><%= @mission.organization.name %></h3>

          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-3">
                <p><%= cl_image_tag @mission.organization.logo, class: "mission-organization-logo" %></p>
          </div>
        </div>
      </div>

          <h4 class= "text-center"><%=@mission.organization.category%></h4>
          <p class= "text-center"><%=@mission.organization.description%></p>
          <p class= "text-center"><%= link_to "En savoir plus", associations_path(@mission) %>

        </div>
      </div>
    </div>
  </div>
</div>



