<div class="green-background">
</div>
<div class="dashboard-container">
  <div class="asso-namelogo">
    <div class="dashboard-logo", style="background-image: url('<%= cl_image_path(@user.picture) %>'); background-size: cover;"></div>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
    <p> <%= @user.email %></p>
  </div>
  <div class="dashboard-btn">
    <div class="btn btn-success"> Voir toutes les missions </div>
  </div>
  <div class="dashboard-stat">
    <h10></h10>
    <div class="row">
      <div class="col-md-6">
        <div class="stat">
          <div class="stat-card">
            <h2> <%= @recurrent_current.count %></h2>
            <p> missions </p>
            <p> en cours </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stat">
          <div class="stat-card">
            <h2><%= @past.count %> </h2>
            <p>missions </p>
            <p> effectuées</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stat">
          <div class="stat-card">
            <h2> <%= @coming.count %></h2>
            <p>missions </p>
            <p> à venir</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="stat">
          <div class="stat-card">
            <h2><%= @missions.count %></h2>
            <p> missions </p>
            <p>disponibles</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-mission-current">
  <p> Mes missions en cours </p>
    <div class="row">
      <% @missions.last(3).each do |mission| %>
      <div class="col-xs-12 col-sm-4">
        <div class="dashboard-missions-cards">
            <%= svg_div(mission.category) %>
            <h2><%= mission.title.first(22) %></h2>
            <p><%= mission.organization.name%></p>
            <img class="looking-for" src="/assets/looking-for.png"/>
              <!-- <h3 class="volunteer"><%#= mission.volunteers_needed %></h3>
              <p><%#= mission.starting_at %></p> -->
            <img class="date" src="/assets/time.png"/>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="dashboard-mission-past">
    <h10>Mes missions passées</h10>
    <div class="row">
      <% @user_missions.first(6).each do |mission| %>
      <div class="col-sm-4">
        <%= link_to mission_path(mission) do %>
        <div class="mini-card-container">
          <div class="mini-card-description">
            <%= mini_svg_div(mission.category) %>
            <h2><%= mission.title %></h2>
            <p><%= mission.organization.name %></p>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</div>

