<div class="green-background">
</div>
<div class="dashboard-container">
  <div class="asso-namelogo">
    <div class="dashboard-logo", style="background-image: url('<%= cl_image_path(@user.picture) %>'); background-size: cover;"></div>
    <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  </div>
  <div class="dashboard-btn">
    <div class="btn btn-success"> Poster un besoin </div>
  </div>
  <div class="dashboard-stat">
    <div class="stat">
      <h2><%= @past.count %> </h2> <p>missions passés</p>
    </div>
    <div class="stat">
      <h2><%= @current.count %></h2> <p>en cours</p>
    </div>
    <div class="stat">
      <h2> <%= @coming.count %></h2><p>à venir</p>
    </div>
  </div>
  <div class="mission-information">
    <p>Mes missions en cours</p>
    <% @missions.first(3).each do |mission| %>
    <div class="row">
      <div class="container">
        <div class="row">
          <h4><% mission.title %></h4>
            <div class="col-xs-12 col-sm-4">
              <div class="organizations-cards">
                <div class="organization-looking-for"></div>
                <div class="organization-date">date</div>
                <div class="organization-titre">
                  <h4><%= mission.title %></h4>
                  <div>
                  <a href="#" class="organization-picto"></a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <h10>Mes missions passés</h10>

    <div class="row">
      <% @missions.first(6).each do |mission| %>
      <div class="col-md-4">
        <div class="mini-card-container">
          <p><%= mission.title %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

