<div class="dashboard-name-container">
  <div class="asso-namelogo">
    <%= cl_image_tag(@user.picture, width: "100", :crop=>"scale", class: "logo-asso")%>
    <div class="asso-infos">
      <h1><%= @user.first_name%> <%= @user.last_name %></h1>
      <%= link_to @user.email, class: "url-asso" %>
    </div>
  </div>
  <div class="navbar-button">
   <!--  <%= link_to "VO", new_organizations_mission_path, class: "btn btn-primary" %> -->
  </div>
</div>
<div class="wrapper-bottom">
  <!-- <div class="wrapper-left">
    <div class="container-grey-left">
        <div class="container-stats">
          <div class="stat">
            <h3>6</h3>
            <p>besoins en cours</p>
          </div>
          <div class="stat">
            <h3>2</h3>
            <p>besoins postés</p>
          </div>
          <div class="stat">
            <h3>15</h3>
            <p>besoins récurrents</p>
          </div>
          <div class="stat">
            <h3>8</h3>
            <p>besoins récurrents</p>
          </div>
        </div>
    </div>
  </div> -->
  <div class="wrapper-right">
      <div class="container-grey-right">
        <h4>Mes missions en cours </h4>
        <div class="flex-container">
          <% @recurrent_current.reverse_each do |mission| %>
              <div class="missions-cards-dashboard">
                <%= link_to organizations_mission_path(mission) do %>
                  <%= index_svg_div(mission.category) %>
                  <h2><%= mission.title %></h2>
                  <p><%= mission.organization.name%></p>
                  <div class="border-bottom gradient-<%=mission.category.downcase%>"></div>
                  <div class="gradient-<%=mission.category.downcase%> overlay"> <!-- overlay dashboard-svg -->
                    <%= white_svg_div(mission.category) %>
                    <h3><%= mission.title %></h3>
                    <h4><%= mission.organization.name%></h4>
                    <h5><%= l(mission.starting_at, format: :short) %></h5>
                  </div>
              <% end %>
            </div>
        <% end %>
        </div>
      </div>
    <div class="container-grey-right-bottom">
      <h4>Prochaines missions </h4>
      <div class="flex-container">
        <% @coming.reverse_each do |mission| %>
          <%= link_to organizations_mission_path(mission) do %>
            <div class="mini-card-container mini-card-description">
                <%= mini_svg_div(mission.category) %>
                <h2><%= mission.title %></h2>
                <p><%= mission.organization.name %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

