<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Délit de solidarité - Donnez de votre temps !</title>
    <meta property="og:title" content="Délit de Solidarité" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://delit-de-solidarite.com/" />
    <meta property="og:description" content="Le seul délit que vous encourez, c'est de donner de votre temps"/>
    <meta property="og:image" content="https://res.cloudinary.com/dk6mjofqi/image/upload/c_fit,h_630,w_1200/v1535629988/delitdesolidarite-coverpicture.jpg" />
    <title>Délit de solidarité - Donner de votre temps</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' unless params[:action] == "home" %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'form' %>
  </body>
</html>
